@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    border:0;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 94vw;
    padding: 1.7vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(5px);
}

#logo {
    font-size: 2em;
    color: #ffffff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    color: #ffffff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s;
    transform: scale(1);
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
    transition: 0.3s;
    transform: scale(1.05);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height 0.2s ease;
}

.back {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    transition: .3s;
}

.wrapper.active{
    height: 500px;
}

.wrapper.active-popup {
    transform: scale(1);
    z-index: 4;
}

.back.active-blur {
    backdrop-filter: blur(15px);
    transition: .3s ease;
    z-index: 3;
}

.wrapper .form-box {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #c3bea2;
    margin: 60px 0 0 0;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);

}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    max-width: 320px;
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);

}


.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .3s;
}

.close:hover {
    background-color: #162938a9;
    transition: .2s;
}


.form-box h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}

.input-box input:focus~label, .input-box input:valid~label{
    top: -5px;
    font-size: .8em;
    transition: .3s;
}

.input-box input {
    width: 85%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: .2s;
    transform: scale(1);
}

.btn:hover {
    background-color: #162938d1;
    transition: .2s;
    transform: scale(1.05);
}

.register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.login-register p a {
    color: #162938;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.login-register {
    margin: 10px 0 0 0;
}

.btnMenu {
    width: 35px;
    height: 35px;
    display: none;
    cursor: pointer;
    background: transparent;
    color: #ffffff;
}

#menuIcon {
    font-size: 35px;
}

@media (max-width: 900px) {
    .btnMenu {
        display: block;
    }

    #cabecalho { 
        padding: 2.5vw 3vw
    }
    
    .navigation {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 0;
        background-color: #c3bea2;
        flex-direction: column;
        align-items: left;
        width: 100%;
        top: 70px;
        overflow-y: hidden;
        visibility: hidden;
        position: fixed;
        
    }

    .navigation .btnLogin-popup {
        border: 0;
        border-radius: 0;
        padding: 2vw 0 2vw 0;
        margin: 0;
        outline: none;
        position: relative;
        font-size: 1.1em;
        font-weight: 500;
        box-sizing: content-box;
        height: 26px;
        width: fit-content;
        cursor: pointer;
        border-bottom: 2px solid #ffffff;
    }

    .navigation .btnLogin-popup:hover {
        transform: scale(1);
        color: #ffffff;
        background: #c3bea2;
    }

    .navigation.active-menu a {
        margin: 0;
        padding: 2vw 0;
        border: 100vw;
        border-bottom: 2px solid #ffffff;
    }

    .navigation.active-menu a::after {
        background-color:  transparent;
    }

    .navigation.active-menu {
        overflow-y: auto;
        visibility: visible;
        transition: all .6s;
        height: calc(100vh - 70px);
    }
}

@media (max-width: 480px){
    .navigation {
        top: 55px;
    }
    .navigation.active-menu {
        height: calc(100vh - 55px);
    }
}

/* ABOUT */
/* #about {
    width: 100%;
    height: 100vh;
    position: absolute;
} */

